.App {
  font-family: sans-serif;
  text-align: center;
  color: #47da61;
}

ul {
  list-style-type: none;
  line-height: 1.6;
  padding: 0px;
}
.search-engine {
  display: block;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
  background-color: #47da61;
  color: white;
}
.search-button {
  background-color: #fd8eff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
}
.starting-screen {
  margin-top: 20px;
}
